@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;

    --background: 255 255 255; /* #ffffff */
    --foreground: 12 10 9; /* #0c0a09 */

    --card: 255 255 255; /* #ffffff */
    --card-foreground: 12 10 9; /* #0c0a09 */

    --popover: 255 255 255; /* #ffffff */
    --popover-foreground: 12 10 9; /* #0c0a09 */

    --primary: 249 115 22; /* #f97316 */
    --primary-foreground: 250 250 249; /* #fafaf9 */

    --secondary: 245 245 244; /* #f5f5f4 */
    --secondary-foreground: 28 25 23; /* #1c1917 */

    --muted: 245 245 244; /* #f5f5f4 */
    --muted-foreground: 120 113 108; /* #78716c */

    --accent: 245 245 244; /* #f5f5f4 */
    --accent-foreground: 28 25 23; /* #1c1917 */

    --destructive: 239 68 68; /* #ef4444 */
    --destructive-foreground: 250 250 249; /* #fafaf9 */

    --border: 231 229 228; /* #e7e5e4 */
    --input: 231 229 228; /* #e7e5e4 */
    --ring: 249 115 22; /* #f97316 */

    --chart-1: 231 110 80; /* #e76e50 */
    --chart-2: 42 157 144; /* #2a9d90 */
    --chart-3: 39 71 84; /* #274754 */
    --chart-4: 232 196 104; /* #e8c468 */
    --chart-5: 244 164 98; /* #f4a462 */
  }

  .dark {
    --background: 12 10 9; /* #0c0a09 */
    --foreground: 250 250 249; /* #fafaf9 */

    --card: 12 10 9; /* #0c0a09 */
    --card-foreground: 250 250 249; /* #fafaf9 */

    --popover: 12 10 9; /* #0c0a09 */
    --popover-foreground: 250 250 249; /* #fafaf9 */

    --primary: 234 88 12; /* #ea580c */
    --primary-foreground: 250 250 249; /* #fafaf9 */

    --secondary: 41 37 36; /* #292524 */
    --secondary-foreground: 250 250 249; /* #fafaf9 */

    --muted: 41 37 36; /* #292524 */
    --muted-foreground: 168 162 158; /* #a8a29e */

    --accent: 41 37 36; /* #292524 */
    --accent-foreground: 250 250 249; /* #fafaf9 */

    --destructive: 220 38 38; /* #dc2626 */
    --destructive-foreground: 250 250 249; /* #fafaf9 */

    --border: 41 37 36; /* #292524 */
    --input: 41 37 36; /* #292524 */
    --ring: 234 88 12; /* #ea580c */

    --chart-1: 38 98 217; /* #2662d9 */
    --chart-2: 46 184 138; /* #2eb88a */
    --chart-3: 232 140 48; /* #e88c30 */
    --chart-4: 175 87 219; /* #af57db */
    --chart-5: 226 54 112; /* #e23670 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
