@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;

    --background: 248 250 252; /* #f8fafc */
    --foreground: 2 6 23; /* #020617 */

    --card: 255 255 255; /* #ffffff */
    --card-foreground: 2 6 23; /* #020617 */

    --popover: 255 255 255; /* #ffffff */
    --popover-foreground: 2 6 23; /* #020617 */

    --primary: 234 88 12; /* #ea580c */
    --primary-foreground: 255 247 237; /* #fff7ed */

    --secondary: 255 237 213; /* #ffedd5 */
    --secondary-foreground: 67 20 7; /* #431407 */

    --muted: 241 245 249; /* #f1f5f9 */
    --muted-foreground: 100 116 139; /* #64748b */

    --accent: 220 38 38; /* #dc2626 */
    --accent-foreground: 220 38 38; /* #dc2626 */

    --destructive: 220 38 38; /* #dc2626 */
    --destructive-foreground: 220 38 38; /* #dc2626 */

    --success: 220 38 38; /* #dc2626 */
    --success-foreground: 220 38 38; /* #dc2626 */

    --border: 226 232 240; /* #e2e8f0 */
    --input: 226 232 240; /* #e2e8f0 */
    --ring: 234 88 12; /* #ea580c */

    --chart-1: 12 76% 61%; /* #dc2626 */
    --chart-2: 173 58% 39%; /* #dc2626 */
    --chart-3: 197 37% 24%; /* #dc2626 */
    --chart-4: 43 74% 66%; /* #dc2626 */
    --chart-5: 27 87% 67%; /* #dc2626 */
  }

  /* .dark {
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
